.rolledText {
    overflow-y: scroll;
    margin-bottom: 0;
    font-size: 0.925rem;
    transition: height 0.5s linear;
    text-align: left;
    position: relative;
}

.rolledLink {
    display: inline-block;
    font-size: 0.925rem;
    color: #cf1626;
    margin-bottom: 10px;
    cursor: pointer
}

.movieCard {
    transition: all 0.5s linear;
}

@media screen and (min-width: 992px) {
    .movieCard:hover {
        transform: scale(1.01);
    }
}
